/* ----------------------------------------------
 * Reset CSS
 * ---------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullets, numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove default input styles */
input,
textarea,
select,
button {
  font: inherit;
  outline: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
