:root {
  --azul: #30334B;
  --rosa1: #DA3D72;
  --rosa2: #DD5CCB;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul);
  background-image: url(/./assets/foco.png);
  background-size:cover;
  background-position: center;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

button{
  all: unset;
  cursor: pointer;
}


#body-conteudo{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#circulo{
  border-radius: 50%;
  background-image: radial-gradient(circle, #da3d72, #df4187, #e2479d, #e151b4, #dd5ccb);
  position: fixed;
  z-index: -1;

}

@keyframes grow {
  0% {
      width: 0px;
      height: 0px;
  }

  100% {
      width: 100vh;
      height: 100vh;
  }
}



#botao-iniciar {
  border-radius: 50px;
  background-image: linear-gradient(to right bottom, #da3d72, #df4187, #e2479d, #e151b4, #dd5ccb);
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  
}


.timerDisplay {
  font-family: "Madimi One", sans-serif;
  font-size: 7.594em;
  font-weight: 400;
  width: 100vh;
  padding: 0 100px;
}

.acoesFoco{
  display: flex;
  gap: 20px;
}

#botao-stop, #botao-pausar, #botao-retomar {
  border-radius: 50px;
  color: var(--rosa1);
  background-color: white;
  width: 110px;
  padding: 0 30px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#botao-pausar, #botao-stop{
  background-color: rgba(255,255,255,0);
  color: white;
  border: solid 1px white;
}



#containerTimerFoco,#containerTimerDescanso{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-alongamento-concluido {
  display: flex;
  border-radius: 50px;
  color: var(--rosa1);
  background-color: white;
  width: auto;
  padding-left: 30px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  align-items: center;
  justify-content: space-between;
  border: solid 1px white;

}

#botao-concluido {
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right bottom, #da3d72, #df4187, #e2479d, #e151b4, #dd5ccb);
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
}

@keyframes pulse {
  0% {
      width: 100vh;
      height: 100vh;
  }

  50% {
      width: 0px;
      height: 0px;
      opacity: 20%;
  }

  100% {
      width: 100vh;
      height: 100vh
  }
}